<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <!-- footer 시작 -->
    <div id="footer">
        <div id="container">
            <div id="copyright">
                <ul>
                    <li>상호 : (주) 고서울</li>
                    <li>주소 : 서울특별시 영등포구 양평동3가</li>
                    <li>대표전화 : 02-2069-1931</li>
                </ul>
            </div>
            <div id="aaa">
                　　　&copy; 2022 Go Seoul Trip. All rights reserved
            </div>

        </div>
    </div>
    </div>
    </body>
</th:block>
</html>

